<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSignin(f)" #f="ngForm">
          <div class="formgroup">
            <label for="email">Mail</label>
            <input type="email" name="email" id="email" ngModel class="form-control">
          </div>
          <div class="formgroup">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" ngModel class="form-control">
          </div>
          <hr>
          <button class="btn btn-primary" type="submit">Sign In</button>
      </form>
  </div>
</div>
